* {
	padding: 0;
	margin: 0;
	list-style: none;
	outline: none;
}

	
body {
	color: black;
	font-size: 24rpx;
	margin-top: 112rpx;
	width: 750rpx;
	margin: 0 auto;
	background-color: #F3F3F7;
	/* font-family: "Regular"; */
}
body::after,page::after,uni-page-body::after,uni-page-wrapper::after{
	height: 0 !important;
}

.radio{
	transform: scale(.75);
}

/* .uni-tabbar-bottom .uni-tabbar {
	box-shadow: 0 8rpx 20rpx 0 #000;
}
 */
.uni-tabbar-bottom .uni-tabbar .uni-tabbar-border{
	display: none;
}

.uni-tabbar-bottom .uni-tabbar .uni-tabbar__mid {
	background: #fff;
	border-radius: 50%;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.flex-around {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.flex-center {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.flex-end {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.flex-start {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.text-clamp {
	display: block;
	overflow: hidden;
	/* //超出的文本隐藏 */
	text-overflow: ellipsis;
	/* //溢出用省略号显示 */
	white-space: nowrap;
	/* //溢出不换行 */
}

.text-clamp2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	/* //作为弹性伸缩盒子模型显示。 */
	-webkit-box-orient: vertical;
	/* //设置伸缩盒子的子元素排列方式--从上到下垂直排列 */
	-webkit-line-clamp: 2;
	/* //显示的行 */
}