.text-green {
    color: #c0f2cd;
}

.text-green2 {
    color: #33cc00;
}
.text-green3 {
    color: #096;
}

.text-red {
    color: #e6002e;
}

.text-red2 {
    color: #f56c6c;
}

.text-blue {
    color: blue;
}

.text-blue2 {
    color: #199cff;
}

$mainColor: #263445;
$lightColor: #7d9dc5;
$textColor: #fff;