// 侧边栏 
$menuText:#bfcbd9; // 默认导航文字颜色
$menuActiveText:#296bad; // 菜单选中文字颜色
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951 // 菜单选父级菜单中文字颜色

$menuBg:#304156; // 主导航背景色
$menuHover:#263445; // 主导航划入背景色

$subMenuBg:#1f2d3d; // 子导航展开背景色
$subMenuHover:#001528; // 子导航划入背景色

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
